.count-number {
  color: #cb4d85;
  font-size: 32px;
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
}
.count-title {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}
