@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("navMenu.css");
@import url("card.css");
@import url("button.css");
@import url("form.css");
@import url("dashboard.css");
@import url("table.css");
@import url("modal.css");
@import url("images.css");
@import url("transaction.css");

body {
  font-weight: 300;
  font-size: 14px;
  background-color: #eff0f4 !important;
  font-family: "Roboto Condensed", sans-serif;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
a:hover {
  color: inherit !important;
  text-decoration: none !important;
}
.bg-site {
  background-color: #c23272 !important;
}

.login-div {
  padding: 50px 50px 50px 50px !important;
}
